html, body {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: #1b1b1b;
}

body {
  background: repeating-linear-gradient(
    rgba(0,0,0,0.15),
    rgba(0,0,0,0.15) 1px,
    transparent 1px,
    transparent 2px
  ), radial-gradient(
    rgba(0, 150, 0, 0.75), black 120%
  ); 
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20vh;
}

.spacer {
  margin-top: 100px;
}

.box-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.box-container .market-box-container {
  display: inline-flex;
  margin: 20px 80px 20px;
}

.account-info-container {
  border-radius: 15px;
  background: #000000;
  /* opacity: 0.5; */
  margin: 20px 80px 20px;
  border-color: rgb(39, 39, 39);
  border-width: 2px;
  border-style: solid;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
}

.market-data-box {
  border-radius: 15px;
  background: #000000;
  /* opacity: 0.5; */
  margin: 20px 80px 20px;
  border-color: rgb(39, 39, 39);
  border-width: 2px;
  border-style: solid;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  margin: 0px;
  text-align: center;
  float: left;
  width: 50%;
}

.sameLineText p {
    display: inline;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    box-shadow: 0 1px 5px 0 #e6e9ef;
    background:repeating-linear-gradient(
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.15) 1px,
      transparent 1px,
      transparent 2px
    ), #ffffff;
    color: #000;
    border-radius: 99px;
    padding: 16px 32px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0BA7F0; 
  background: linear-gradient(to right, #0051ff, #14b2fc);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #4c00ff;
  background: linear-gradient(to right, #b214fc, #4c00ff);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#connectButton {
    margin-bottom: 16px;
    color: #eb874b;
}

#connectButton img {
    width: 36px;
    margin-right: 16px;
}

#depositButton {
    margin-bottom: 16px;
    color: #d39039;
    background-color: #0f065e;
}

#walletID span{
    max-width: 90%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 600;
}

#mobileDeviceWarning {
    display: none;
    margin-top: 24px;
    color: rgb(247, 47, 47);
}

#mobileDeviceWarning.show {
    display: block;
}

.alert {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: #ffffff;
}

.alert.show {
    display: flex;
}

.alert .button {
    margin-top: 24px;
}

/* Loading dots styles */
@keyframes opacity {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.loadingButton {
    pointer-events: none;
}

.loadingButton #loading {
    display: flex;
}

#loading {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 99px;
}

#loading span:not(:last-child) {
	margin-right: 5px;
}

#loading span {
	animation-name: opacity;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

#loading span:nth-child(2) {
	animation-delay: 100ms;
	animation-delay: 100ms;
}

#loading span:nth-child(3) {
	animation-delay: 300ms;
	animation-delay: 300ms;
}